<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag @institution.avatar.url(:medium),
                                           html: {class: 'media-object'} %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @institution.name %></h4>
    <hr>
    <dl>
      <dt>Endereço</dt>
      <dd><%="#{@institution.address}, #{@institution.neighborhood},
              #{@institution.postal_code}"%></dd>
      <dt>Cidade / UF</dt>
      <dd><%="#{@institution.city} / #{@institution.state}" %></dd>
      <dt>Telefone / Contato</dt>
      <dd><%= "#{@institution.phone} / #{@institution.contact}" %></dd>
      <dt>E-Mail</dt>
      <dd><%= @institution.email %></dd>
      <dt>Site</dt>
      <dd><%= @institution.site %></dd>
      <dt>Trabalho</dt>
      <dd><%= @institution.work %></dd>
      <dt>Instituição Ativa</dt>
      <dd id="Ativo">
        <%= @institution.inactive ? "Inativo" : "Ativo" %>
      </dd>
      <dt>Coleta Doações</dt>
      <dd id="collect-donations">
        <%= @institution.collect_donations? ? "Sim" : "Não" %>
      </dd>
    </dl>
  </div>
</div>
