<h3>Instituição</h3>
<%= @institution.name %><br>
<%= @institution.email %><br>
<%= @institution.address %><br>
<%= @institution.neighborhood %><br>
<%= @institution.postal_code %><br>
<%= @institution.city %><br>
<%= @institution.state %><br>
<%= @institution.phone %><br>
<%= @institution.contact %><br>
<%= @institution.work %><br>
<%= @institution.site %><br>
<%= image_tag @institution.avatar.url(:thumb) %><br>
<%= @institution.inactive %><br>
<div id="collect-donations">
  <%= @institution.collect_donations? ? "Sim" : "Não" %>
</div>
