<h1>Olá <%= @donation.institution.name %></h1>

<p>
  <h3>Veja os dados da nova doação:</h3>
  Doador: <%= @donation.name %><br>
  Email do doador: <%= @donation.mail %><br>
  Telefone do doador: <%= @donation.phone %><br>
  Tipo de doação: <%= @donation.type_of_donation %><br>
</p>
